<form [formGroup]="userForm" >
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" formControlName="first_name">

    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" formControlName="last_name">

    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" formControlName="email">

    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" formControlName="phone">

    <label for="username">User Name</label>
    <input type="text" class="form-control" id="username" formControlName="username">

    <label for="password" *ngIf="isAdd">Password</label>
    <input type="password" *ngIf="isAdd" class="form-control" id="password" formControlName="password">

    <label for="confirm_password" *ngIf="isAdd">Confirm Password</label>
    <input type="password" *ngIf="isAdd" class="form-control" id="confirm_password" formControlName="confirm_password">

    <label for="role">Select role</label>
    <select class="form-control" id="role" formControlName="role">
      <option *ngFor="let role of RolesList" [value]="role.id">{{ role.name }}</option>
    </select>


    <div *ngIf="isAdd">
      <button class="btn btn-success" type="submit" (click)="add_user()">Add</button>
    </div>
    <div>
      <button class="btn btn-success" type="submit" (click)="edit_user()">Edit</button>
    </div>
  </div>
</form>