<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <ul ngbNav #justifiednavpills="ngbNav" [activeId]="1" class="nav-pills nav-justified bg-light">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block">Users</span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>
                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                <span class="d-none d-sm-block">roles</span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="TabContent1"></ng-template>
              </ng-template>
            </li>
            
          </ul>
          <div [ngbNavOutlet]="justifiednavpills"></div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #TabContent>
    <p class="p-3 mb-0 text-muted">
      <app-access-user-show></app-access-user-show>
    </p>
  </ng-template>

  <ng-template #TabContent1>
    <p class="p-3 mb-0 text-muted">
      <app-access-role-add></app-access-role-add>
      
    </p>
  </ng-template>
