<div class="grid-container">
  <div class="grid-item partition-1">
    <div class="card">
      <div class="card-body">
        <div class="mt-5 mt-lg-4">
          <h5 class="font-size-14 mb-4">Country page</h5>

          <form>
            <div class="row mb-4">
              <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="horizontal-firstname-input">
              </div>
            </div>
            <div class="row mb-4">
              <label for="country-code-input" class="col-sm-3 col-form-label">Code</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="country-code-input">
              </div>
            </div>

            <div class="row justify-content-end">
              <div class="col-sm-9">
                <div>
                  <button type="submit" class="btn btn-primary w-md" style="margin-left: 190px;">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="grid-item partition-2"></div> -->

</div>

